@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    list-style: none;
    text-decoration: none;
    
}

:root {
    --text-color: #FFFFFF;
}

.nav-container {
    background-color: #6813A5;
    display: inline-block;
    width: 100vw;
    border-radius:0 0 10px 10px;
    box-shadow: 0 0 10px 10px #000000;

    /* text-align: center; */
}

.nav-lista {
    display: flex; 
    justify-content: space-around;
    margin: 25px;
    font-size: 32px;
}

li > a:hover {
    cursor: pointer;
    color: aquamarine;
    font-size: 36px;
}

